[submodule "HOPES"]
	path = HOPES
	url = https://github.com/cap-lab/CodeGeneration.git
	branch = 1.4.1_minor_fix
[submodule "SWComponentLib"]
	path = SWComponentLib
	url = https://github.com/cap-lab/HiSARM_ComponentLibrary.git
	branch = main
